body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.memes-div{
  margin: 1rem;
}

.image {
  margin: 0.5rem;
  height: 50vh;
  width: 50vb;
  border: 2px solid black;
  padding: 15px;

}
.image-makeMame {
  border: 2px solid black;
  height: 50vh;
  width: 100vb;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 1rem;
  padding: 0.8rem 0.2rem;
  text-align: center;
  margin: 0.6rem;
}


.image-makeMame {
  height: 30rem;
  margin: 1rem;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 70%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}